@model Entro.Models.Tickets

@{ ViewData["Title"] = "Edit"; }
@{ Layout = "_Layout2"; }

<h4>Edit Book Concepts</h4>
<hr />
<div class="row">
    <div class="col-md-12 font-weight-bold">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact" class="control-label"></label>
                <input asp-for="Contact" class="form-control" />
                <span asp-validation-for="Contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfPersons" class="control-label"></label>
                <input asp-for="NumberOfPersons" class="form-control" />
                <span asp-validation-for="NumberOfPersons" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" type="button" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

